#main_search {
    border: 1px solid black;
    margin-top: 10px;
}

#maintain {
    border: 2px solid red;
    border-radius: 10px;
    width: 100%;
    height: 800px;
}

#content {
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    height: 90%;
    overflow: scroll;
}

#main_row {
    position: relative;
    margin-top: 10px;
    height: 32%;
}

iframe {
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 100%;
}

#link_page {
    height: 58%;
}

ul li span {
    color: #17a2b8;
}

ul li span:hover {
    color: #ff574d;
}

#jumb {
    height: 90%;
}

.jumbotron {
    height: 100%;
    padding: 10px;
}

#ad_img_div {
    position: relative;
    overflow: scroll;
    height: 100%;
    /*float: left;*/
}

#ad_img {
    height: 100%;
}

#ad_row {
    height: 100%;
}

#ad_describe {
    overflow: scroll;
    border: 1px solid black;
    border-radius: 10px;;
}

#ad_describe p {
    margin-left: -15px;
    /*超长进行换行*/
    word-wrap: break-word;
    /*可以处理空白*/
    /*white-space: normal;*/
}