#main_search {
    border: 1px solid black;
    border-radius: 5px;
}

#content {
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    height: 450px;
    overflow: scroll;
}

iframe {
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 100%;
}

ul li span {
    color: #17a2b8;
}

ul li span:hover {
    color: #ff574d;
}

#jumb {
    height: 90%;
}

.jumbotron {
    height: 100%;
    padding: 10px;
}

#ad_img_div {
    position: relative;
    overflow: scroll;
    height: 300px;
    /*float: left;*/
}

#ad_img {
    height: 100%;
}

#ad_row {
    height: 100%;
}

#ad_describe {
    overflow: scroll;
    border: 1px solid black;
    border-radius: 10px;
    height: 300px;
}

#ad_describe p {
    /*超长进行换行*/
    word-wrap: break-word;
    /*可以处理空白*/
    /*white-space: normal;*/
}